---
import BoxWithBorder from "../components/BoxWithBorder.astro";
import ImgCarrusel from "../components/ImgCarrusel.astro";

const title = "ATRIBUTOS";

const description_1 = "Un diseño deportivo y desafiante: carrocería con detalles en color" +
" naranjo, manillas eléctricas ocultas, parrilla delantera Flying Wing" +
" y llantas deportivas de 19”, que refuerzan su estilo más agresivo y" +
" dinámico.";

const description_2 = "Motor 1.5 Turbo Intercooler de inyección directa, con transmisión" +
"automática de 7 velocidades y 174 HP, que ofrece aceleración rápida" +
"y un rendimiento deportivo.";

const description_3 = "Pantalla táctil de 10,25” con CarPlay inalámbrico, cargador" +
"inalámbrico, volante multifunción y el exclusivo Modo Sport+, que" +
"juntos ofrecen una experiencia de conducción más conectada y" +
"deportiva."
---

<!-- Swiper -->
<div class="swiper mySwiper leftSwiper my-8 xl:my-16">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <section class="grid grid-cols-1 xl:grid-cols-7">
        <ImgCarrusel title={title} img="/img/atrib1.png" />
        <div class="xl:col-span-4 xl:flex xl:flex-col">
            <BoxWithBorder title={title} description={description_1} />
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section class="grid grid-cols-1 xl:grid-cols-7">
        <ImgCarrusel title={title} img="/img/atrib2.png" />
        <div class="xl:col-span-4 xl:flex xl:flex-col">
          <BoxWithBorder title={title} description={description_2} />
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section class="grid grid-cols-1 xl:grid-cols-7">
        <ImgCarrusel title={title} img="/img/atrib3.png" />
        <div class="xl:col-span-4 xl:flex xl:flex-col">
          <BoxWithBorder title={title} description={description_3} />
        </div>
      </section>
    </div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
